<section class="<%- name %>">
  <div class="hero">
    <div class="title">
      <h1>
        Hey from {{ vm.greeting }}
      </h1>
    </div>

    <div class="alert-message" ng-if="vm.showingAlert">
      <h1 class="message">
        {{ vm.alert }}
      </h1>
    </div>

    <div class="action">
      <button class="button raised" ng-click="vm.addItem()">Add</button>

      <input 
        type="text" 
        name="item" 
        ng-model="vm.itemName"
        placeholder="item name" 
        ng-enter="vm.addItem()"
        >

    </div>

    <div class="items-container">
      <div class="item" ng-repeat="item in vm.items track by item.id">
        <div class="item-delete" ng-click="vm.removeItem($index)">
          X
        </div>
        <div class="item-name">
          {{ ::item.name }}
        </div>
      </div>
    </div>

  </div>
</section>
