@import '../../../styles'

.atm
  .hero
    height 100vh
    background-color alpha(black, 40%)

    *
      color white

    .title
      center(600px)
      text-align center
      h1
        font-size 3rem
      h3
        font-size 2rem
      *
        font-weight 300

    .action
      display flex
      justify-content center

      .button
        margin 1vw

      ::-webkit-input-placeholder
        color lighten(primary-color, 25%)

      :-moz-placeholder
        color lighten(primary-color, 25%)

      ::-moz-placeholder
        color lighten(primary-color, 25%)

      :-ms-input-placeholder
        color lighten(primary-color, 25%)


    .err-message
      text-align center
