@import '../../../styles'

.testing
  position relative

  .hero
    height 200vh
    background-color alpha(black, 40%)

    *
      color white

    .title
      center(600px)
      text-align center
      h1
        font-size 3rem
      h3
        font-size 2rem
      *
        font-weight 300

    .items-container
      display flex
      justify-content center
      flex-wrap: wrap
      text-align center

      .item
        margin 1vw
        width 10vw
        height 20vh
        background-color accent-color
        position relative
  
        .item-name
          line-height 19vh
          font-size 2rem

        .item-delete
          position absolute
          left 5px
          top 5px
          cursor pointer

    .action
      display flex
      justify-content center

      .button
        margin 1vw

      ::-webkit-input-placeholder
        color lighten(primary-color, 25%)

      :-moz-placeholder
        color lighten(primary-color, 25%)

      ::-moz-placeholder
        color lighten(primary-color, 25%)

      :-ms-input-placeholder
        color lighten(primary-color, 25%)

    .alert-message
      text-align center

